*.dat
*.inc
*.json
*.pov
*.toc
*.tov
*-barcode.*
*-barkod.*
*-manifest.yml
*-processed.md
*-islenmis.md
*-url.*
*-icon.png
pub/*
.editorconfig
.gitignore
.casile.lua
/home/caleb/projects/sile-typesetter/casile//logo.svg
/home/caleb/projects/sile-typesetter/casile//emblum.svg
CasileDemos-a4ciltli*
CasileDemos-a4*
CasileDemos-a5trim*
CasileDemos-a6*
CasileDemos-a6trim*
CasileDemos-a7kart*
CasileDemos-a7*
CasileDemos-a7trimkart*
CasileDemos-app*
CasileDemos-banner*
CasileDemos-businesscard*
CasileDemos-cep*
CasileDemos-ekran*
CasileDemos-epub*
CasileDemos-halfletter*
CasileDemos-octavo*
CasileDemos-royaloctavo*
CasileDemos-square*
CasileDemos-wide*
fancy_book-a4ciltli*
fancy_book-a4*
fancy_book-a5trim*
fancy_book-a6*
fancy_book-a6trim*
fancy_book-a7kart*
fancy_book-a7*
fancy_book-a7trimkart*
fancy_book-app*
fancy_book-banner*
fancy_book-businesscard*
fancy_book-cep*
fancy_book-ekran*
fancy_book-epub*
fancy_book-halfletter*
fancy_book-octavo*
fancy_book-royaloctavo*
fancy_book-square*
fancy_book-wide*
simple_book-a4ciltli*
simple_book-a4*
simple_book-a5trim*
simple_book-a6*
simple_book-a6trim*
simple_book-a7kart*
simple_book-a7*
simple_book-a7trimkart*
simple_book-app*
simple_book-banner*
simple_book-businesscard*
simple_book-cep*
simple_book-ekran*
simple_book-epub*
simple_book-halfletter*
simple_book-octavo*
simple_book-royaloctavo*
simple_book-square*
simple_book-wide*
fancy_book.pdfs
fancy_book.epub
simple_book.pdfs
simple_book.epub
*-.md
publisher_emblum.svg
publisher_emblum-grey.svg
publisher_logo.svg
publisher_logo-grey.svg
*.html
*-url.*
*-.*
